<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <!-- Service Bus specific app setings for messaging connections -->
      <add key="serviceBusNamespace" value="seyonservicebusdemo" />
      <add key="serviceBusTopicName" value="pubsub" />
      <add key="serviceBusKeyName"   value="Manage" />
      <add key="serviceBusAccessKey" value="LhrTuU0x7tHWz9ScStodAIgdeh1YL4pWaSZ2OxlR2Bc=" />
    </appSettings>
</configuration>